@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
  margin-bottom: 10px;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: 50px;
}

h2 {
  color: #353535;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #454545;
}

h4 {
  color: #bfbdbd;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 10px;
}

li {
  list-style-type: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

button {
  cursor: pointer;
}

h3 a {
  color: #454545;
}

footer {
  margin-top: 64px;
}

footer h2 {
  font-size: 20px;
}

main {
  margin-bottom: 32px;
}

footer a,
footer p {
  color: #909090;
}

footer address p {
  margin-bottom: 0;
}

a:hover,
a:active,
a:focus {
  color: #ce3232;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000;
}

img {
  width: 100%;
  vertical-align: middle;
}

section {
  padding: 100px 0;
}
